
// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// Set your brand colors
$primary: #40B790;
$link: #409BF7;
$info: #768DF7;
$warning: #EFA821;
$danger: #F76486;
$success: #18BF3F;

//New colours
$secondary: #B77B8F;
$secondary-invert: #FFFFFF;

$backdrop: #EFF4F6;
$backdrop-invert: findColorInvert($backdrop);

$backdrop-second: #D7E4F4;
$backdrop-second-invert: findColorInvert($backdrop-second);

$dracula: #1E2C2A;
$dracula-invert: findColorInvert($dracula);

$git: #474749;
$git-invert: findColorInvert($git);

$linkedin: #0073B6;
$linkedin-invert: findColorInvert($linkedin);

//Colour scheme 1
$pal-3-1: #A6EBC9;
$pal-3-1-invert: findColorInvert($pal-3-1);

$pal-3-2: #B3BBEC;
$pal-3-2-invert: findColorInvert($pal-3-2);

$pal-3-3: #FFE4FA;
$pal-3-3-invert: findColorInvert($pal-3-3);


// 5. Add new color variables to the color map.
@import "../../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "secondary":($secondary, $secondary-invert),
  "backdrop": ($backdrop, $backdrop-invert),
  "dracula": ($dracula, $dracula-invert),
  "linkedin": ($linkedin,$linkedin-invert),
  "git": ($git,$git-invert),
  "backdrop-second": ($backdrop-second,$backdrop-second-invert),
  "pal-3-1": ($pal-3-1, $pal-3-1-invert),
  "pal-3-2": ($pal-3-2, $pal-3-2-invert),
  "pal-3-3": ($pal-3-3, $pal-3-3-invert),

);
$colors: map-merge($colors, $addColors);


/*
####################################################
B U L M A
####################################################
*/
@import "../../node_modules/bulma/bulma.sass";

/*
####################################################
U T I L I T Y
####################################################
*/

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.m-auto{
  margin: auto;
}

.my-auto{
  margin-top:auto;
  margin-bottom: auto;
}

/*
####################################################
C U S T O M
####################################################
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}
 
#wrapper {
   flex: 1;
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.equal-height .card-content {
  flex: auto;
}

.title_logo{
  max-width: 650px; 
  margin: auto;
}

.justify-text{
  text-align: justify;
  text-justify: inter-word;
}

.mw500{
  max-width: 500px;
}

.img-cover{
  object-fit: cover;
}

/*
####################################################
N A V
####################################################
*/

.navbar-start{
  transition: 0.3s;
}
.navbar-start a:hover{
  color: $secondary !important;
}



